body{
    margin: 0;
    font-family: 'League Spartan', sans-serif;
}

.main{
    display: block;
    margin: auto;
    width: 75rem;
    height: 37rem;
    margin-top: 2rem;
   

}
.row1{
    display: flex;
    justify-content: space-between;
    background-image: url("images/bg-pattern-top-desktop.svg");
}

.col1{
         width: 20rem;
         height: 15rem;
}
.col1 h1{
    width: 15rem;
color: hsl(300, 43%, 22%);
font-weight: bolder;  

} 
.col1 p{
    width: 19rem;
    font-size: 12px;
    line-height: 18px;
    color: hsl(300, 43%, 22%);
    font-weight: bold;
}

.col2{
   width: 30rem;
   margin: auto;
}

.stars1{
    width: 20rem;
    display: flex;
    height: 2rem;
    align-items: center;
   background-color: hsl(300, 24%, 96%);
    justify-content: space-between;
   padding-right: 20px;
    
   padding-left: 30px;
 
    letter-spacing: 2px;
    border-radius: 10px;
}

.stars2{
    width: 20rem;
    margin-top: 10px;
    display: flex;
    margin-left: 2rem;
    height:2rem;
    align-items: center;
   background-color: hsl(300, 24%, 96%);
    justify-content: space-between;
   padding-right: 20px;
    
   padding-left: 30px;
 
    letter-spacing: 2px;
    border-radius: 10px;
}
.stars3{
    margin-top: 10px;
    width: 20rem;
    margin-left: 4rem;
    display: flex;
    height: 2rem;
    align-items: center;
   background-color: hsl(300, 24%, 96%);
    justify-content: space-between;
   padding-right: 20px;
    
   padding-left: 30px;
 
    letter-spacing: 2px;
    border-radius: 10px;
    
}

.col2 h6{
    color:hsl(300, 43%, 22%);
    font-weight: 1600px;
}



.row2{
    display: flex;
    background-image: url("images/bg-pattern-bottom-desktop.svg");
    justify-content: space-between; 
    height: 20rem;
    margin-top: 2rem;
}

.card{
    background-color:  hsl(300, 43%, 22%);
    width: 23rem;
    height: 15rem;
    text-align: center;
    color: white;
    border-radius: 10px;
    display: block;

}
.nameimg{
    display: flex;
    padding-left: 2rem;
    padding-top: 3rem;
    align-items: center;
 
    gap: 25px;
}
#buyer{
   color:  hsl(333, 80%, 67%);
}
#para{
    width: 20rem;
   padding-left: 2rem;
   line-height: 1.5rem;
}
.card img{
    height: 2rem;
    border-radius: 50%;
}

#card2{
    margin-top: 1rem;
}
#card3{
    margin-top: 2rem;
}