body{
    margin: 0;
    font-family: 'League Spartan', sans-serif;
}

.main{
    display: block;
    margin: auto;
    width: 75rem;
    height: 60rem;
    margin-top: 2rem;

}
.row1{
    display: flex;
    justify-content: space-between;
}

.col1{
         width: 20rem;
         height: 15rem;
}
.col1 h1{
    width: 15rem;
color: hsl(300, 43%, 22%);
} 
.col1 p{
    width: 19rem;
    font-size: 12px;
    line-height: 18px;
}

.col2{
   width: 20rem;
   align-items: center;
   justify-content: start;
}

.stars{
    display: flex;
    height: 2rem;
    align-items: center;
   
    justify-content: space-between;

    
}



.row2{
    display: flex;
}